@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
section {
    width: 50%;
    margin: 50px auto;
    background-color: rgb(228, 115, 23);
    border: 2px dotted black;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}