@import "parciales/variables";
@import "parciales/header";
@import "parciales/cuerpo";
@import "parciales/footer";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*@media(min-width:576px){}
@media(min-width: 768px){}
@media(min-width: 992px){}
@media(min-width: 1200px){}*/


/*https://wireframe.cc/qEHggx //HOME
https://wireframe.cc/2BNpzw //TROPICAL
https://wireframe.cc/w1kGBS //MARINO
https://wireframe.cc/mPAryN //PECES
*/


/*  .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%; 
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
        padding: 2%;
    }
}*/