*{
    margin: 0px;
    padding: 0px;

}
section{
    width: 50%;
    margin: 50px auto;
    background-color: cadetblue;
    padding: 2%;
    h1{
        text-align: center;
    }

    form{

        input,
        textarea{

            width: 100%;
            margin: 5px auto;
            padding: 5px;
        }

        input[type="submit"]{

            width: 30%;
        }
    }
}