* {
    margin: 0;
    padding: 0;
}

section {
    width: 90%;
    margin: 20px auto;
    display: flex;
    text-align: center;
    align-items: center;
    .col-8 {
        width: 66.66%;
        padding: 5px;
    }
    .col-2 {
        width: 16.66%;
        padding: 5px;
    }
}

.dot {
    text-align: center;
    align-items: center;
    img {
        cursor: pointer;
    }
}

.opacidad {
    opacity: 0.5;
}